{{>main/home}}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-3">
                                <div class="text-center">
                                    <img src="/static/img/favicon.svg" alt="Logo"
                                        style="max-width: 100px; margin: 0 0 20px 0">
                                    <h3>Edit Product</h3>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Name</span>
                                                        </div>
                                                        <input type="text" class="form-control" name="name" id="name"
                                                            maxlength="255" placeholder="Input name" required
                                                            aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Part Number</span>
                                                        </div>
                                                        <input type="text" class="form-control" name="part" id="part"
                                                            maxlength="255" placeholder="Input part number" required
                                                            aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Label</span>
                                                        </div>
                                                        <input type="text" class="form-control" name="label" id="label"
                                                            maxlength="255" placeholder="Input label" required
                                                            aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Starting Inventory</span>
                                                        </div>
                                                        <input type="number" class="form-control" name="startinvent"
                                                            id="startinvent" maxlength="10"
                                                            placeholder="Input starting inventory" required
                                                            aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Inventory Received</span>
                                                        </div>
                                                        <input type="number" class="form-control" name="invtrec"
                                                            id="invtrec" maxlength="10"
                                                            placeholder="Input inventory received" required
                                                            aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Inventory Shipped</span>
                                                        </div>
                                                        <input type="number" class="form-control" name="invtshp"
                                                            id="invtshp" maxlength="10"
                                                            placeholder="Input inventory shipped" required
                                                            aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Inventory On Hand</span>
                                                        </div>
                                                        <input type="number" class="form-control" name="invt-onhand"
                                                            id="invt-onhand" maxlength="10" placeholder="Input stock"
                                                            required aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Min. Required</span>
                                                        </div>
                                                        <input type="number" class="form-control" name="minreq"
                                                            id="minreq" maxlength="10" placeholder="Input minimum"
                                                            required aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Created</span>
                                                        </div>
                                                        <input type="date" class="form-control" name="proddate"
                                                            id="proddate" required
                                                            aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroup-sizing-sm">Updated</span>
                                                        </div>
                                                        <input type="date" class="form-control" name="produpdate"
                                                            id="produpdate" required
                                                            aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                id="inputGroupFileAddon01">Image Upload</span>
                                                        </div>
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                id="inputGroupFile01"
                                                                aria-describedby="inputGroupFileAddon01">
                                                            <label class="custom-file-label"
                                                                for="inputGroupFile01">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2 text-center">
                                    <a href=""><button class="btn btn-outline-success"
                                            style="width: 30%;">Update</button></a>
                                    <a href="/products"><button class="btn btn-outline-dark"
                                            style="width: 30%;">Cancel</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>