{{>main/home}}

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <i class="fas fa-cubes" style="font-size: 175px; margin: 0 0 30px 0; color:cornflowerblue;"></i>
                  <h1>Welcome To Iventory App</h1>
                  <h4>Before you do Create, Read, Update and Delete Inventory.</h4>
                  <h5>Please, Login!</h5><br>
                  <a href="/login"><button class="btn btn-outline-primary" style="width: 40%;">LOGIN</button></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
