<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/inventory">
        <div class="sidebar-brand-icon">
            <i class="fas fa-cubes"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Inventory</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/inventory">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <!-- Nav Item - Products Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/products">
            <i class="fas fa-fw fa-cog"></i>
            <span>Products</span>
        </a>
    </li>

    <!-- Nav Item - Supplier Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/supplier">
            <i class="fas fa-fw fa-truck-moving"></i>
            <span>Supplier</span>
        </a>
    </li>

    <!-- Nav Item - Purchases Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/purchases">
            <i class="fas fa-fw fa-coins"></i>
            <span>Purchases</span>
        </a>
    </li>

    <!-- Nav Item - Rent Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/rent">
            <i class="fas fa-fw fa-truck-loading"></i>
            <span>Rent</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/logout">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Log Out</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->