{{>main/head}}

<!-- Page Wrapper -->
<div id="wrapper">

    {{>main/sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {{>main/topbar}}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <h1 class="text-center">WELCOME TO DASHBOARD</h1>
                <div class="row">
                    <div class="col text-center">
                        <img class="img-fluid" src="/static/img/welcome.svg" alt="welcome" style="max-width: 100%;">
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        {{>main/footer}}